# Kivy Framework
kivy==2.3.0
kivymd==1.1.1

# Android & Java Bridge (Bắt buộc cho ML Kit)
pyjnius==1.5.0
android==0.0.1
plyer==2.1.0

# Image Processing (Dùng làm cầu nối cho ML Kit)
Pillow==10.1.0
numpy==1.24.3

# Build Tools
buildozer==1.5.0
cython==0.29.33
