name: Build Android v1.0

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential libffi-dev libssl-dev libzbar0 python3-dev
          pip install buildozer cython==0.29.33

      - name: Build APK
        run: |
          yes | buildozer -v android debug
        env:
          ACCEPT_SDK_LICENSE: "yes"

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: DeviceManager-APK
          path: bin/*.apk
